.Connect main {
  display: flex;
  justify-content: center;
}

.Connect main > div {
  display: flex;
  flex-direction: column;
}

.Connect main > div h1 {
  color: #f15f31;
}

.Connect main .have-code {
  border-bottom: 3px solid #F0F2F5;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.Connect main .have-code > h2 {
  color: #3D3D4E;
}

.Connect main .have-code > p {
  color: #999FAA;
}

.Connect main .have-code .Input {
  margin-bottom: 10px;
}

.Connect main .found-user {
  margin-bottom: 20px;
}

.Connect main .found-user > div {
  background-color: #F5F8FC;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.Connect main .found-user > div img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.Connect .found-user > div > div p:first-child {
  font-weight: 600;
}

.Connect main .gen-code > h2 {
  color: #3D3D4E;
}

.Connect main .gen-code > p {
  color: #999FAA;
  margin-bottom: 20px;
}

